.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

@media (max-width: 515px) {
  .card-container {
    width: 19rem;
    height: 20rem;
  }
}

@media (max-width: 414px) {
  .card-container {
    width: 13rem;
    height: 20rem;
}
}

@media (max-width: 375px) {
  .card-container {
    width: 12rem;
    height: 19rem;
}
}

@media (max-width: 334px) {
  .card-container {
    width: 16rem;
    height: 20rem;
}
}

@media (max-width: 320px) {
  .card-container {
    width: 11rem;
    height: 20rem;
}
}

@media (max-width: 259px) {
  .card-container {
    width: 10rem;
}
}